  <link rel="stylesheet" id="css-main" href="resources/assets/css/oneui.min.css">

                    <!-- Main Content -->
        <form name ="perfilForm" ng-show = "!onPoint">
            <div class="block">
                <ul class="nav nav-tabs nav-justified push-20" data-toggle="tabs">
                    <uib-tabset active="activeJustified" justified="true">

                    <uib-tab index="0" select="changeTab()"><uib-tab-heading><i class="fa fa-user"></i> Anamnesis
                    </uib-tab-heading></uib-tab>

                    <uib-tab index="1" select="changeTab()"><uib-tab-heading><i class="fa fa-medkit"></i> Registros
                    </uib-tab-heading></uib-tab>

                    </uib-tabset>
                </ul>

                <div class="block-content tab-content">



                                <!-- Personal Tab -->
                    <div ng-if = "isEmergencyContact == true" class="tab-pane fade in active" id="tab-profile-personal">
                         <div class="row items-push">

                            <!-- Striped Table -->
                            <div class="block">
                                <div class="block-header">
                                    <div class="block-options">
                                        <code>Contactos de Emergencia</code>
                                    </div>
                                    <h3 class="block-title">Encargados</h3>
                                </div>

                                <div class="block-content">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">#</th>
                                                <th>Nombre</th>
                                                <th class="hidden-xs" style="width: 25%;">Teléfono</th>
                                                <th class="hidden-xs" style="width: 25%;">Teléfono 2</th>
                                                <th class="hidden-xs"  style="width: 25%;">Correo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="e in encargados" e-index="$index">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td class="font-w600"   ng-bind="(e.nombre) +' '+ (e.apellido)"></td>
												<td ng-bind="e.telefono"></td>
												<td ng-bind="e.movil"></td>
                                                <td ng-bind="e.email"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- END Striped Table -->

                            <!-- Formulario del Estudiante -->
                            <div class="block">
                                <div class="block-header">
                                    <div class="block-options">
                                        <code>Perfil del Estudiante</code>
                                    </div>
                                    <h3 class="block-title">Datos del estudiante</h3>
                                </div>

                                <div class="block-content">
                                	<div class="col-sm-6 col-sm-offset-3 form-horizontal">

										<div class="form-group">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model = "alumnoInfo.nombre" disabled>
	                                                <label>Nombre</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

	                                   <div class="form-group">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model="alumnoInfo.apellido1" disabled>
	                                                 <label>Apellido</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

										<div class="form-group">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model="alumnoInfo.apellido2" disabled>
	                                                 <label>Apellido 2</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

										<div class="form-group">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model="alumnoInfo.cedula" disabled>
	                                                 <label>Cédula</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

										<div ng-if = "isMale == true" class="form-group">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model="sexo" disabled>
	                                                 <label>Sexo</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

										<div ng-if = "isMale == false">
	                                        <div class="col-xs-12">
	                                            <div class="form-material">
	                                                <input class="form-control" type="text" ng-model="sexo" disabled>
	                                                 <label>Sexo</span></label>
	                                            </div>
	                                        </div>
	                                    </div>

									</div>
								</div>

                            </div>
                            <!-- fin del formulario -->
						</div>
					</div>
					<!-- END PERSONAL TAB -->

					<!-- REGISTRO TAB -->
                    <div ng-if = "isEmergencyContact == false" class="tab-pane fade in active" id="tab-profile-password">
                        <div class="row items-push">

			                <div class="block">
			                    <div class="block-header">
			                        <div class="block-options">
			                            <code>Historia clínica</code>
			                        </div>
			                         <h3 class="block-title">Registros del Estudiante &nbsp;
						                 <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
						                         title="Nuevo registro" ng-click="newRegistro()"><i class="fa fa-plus-circle"></i>
						                 </button>
			                         </h3>
			                    </div>
						
								<div class="block-content">

									<table class="js-table-sections table table-hover" ng-repeat = "r in registros | orderBy:predicate:reverse">
		                                <thead>
		                                    <tr>
		                                        <th style="width: 30px;"></th>
		                                        <th></th>
		                                        <th class="hidden-xs" style="width: 15%;"></th>
		                                        <th style="width: 10%;"></th>
		                                    </tr>
		                                </thead>

		                                <div>
		                                <!-- START HEADER -->
		                                <tbody class="js-table-sections-header"  ng-click = "getAuthor(r)">
		                                    <tr>
		                                        <td class="text-center">
		                                            <i class="fa fa-angle-right"></i>
		                                        </td>

		                                        <td class="font-w600" ng-mouseover="enableEdit(r)" ng-mouseleave="disableEdit(r)">
		                                        	<div class="js-summernote-air">
		                                        		<p>{{r.nombreRegistro}}</p>
		                                        	</div>
		                                        </td>

		                                        <td class="hidden-xs">
		                                            <em class="text-muted">{{r.dateOfEvent | date:'longDate' }}</em>
		                                        </td>

		                                        <td class="text-center">
						                        <div class="btn-group">
                 
						                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
						                            title="Editar registro" ng-click="editRegistro(r)"><i class="fa fa-pencil"></i>
						                            </button>

<!-- 						                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Borrar este registro" ng-click="deleteRegistro(r)"><i class="fa fa-times"></i></button> -->

						                        </div>
						                    </td>

		                                    </tr>

		                                </tbody> <!-- END HEADER -->

		                                <tbody>
		                                    <tr>
		                                        <td class="text-center"></td>
		                                        <td>
		                                        	<!-- Summernote Container -->
						                            <div class="js-summernote-air">
						                                <p>{{r.descripcion}}</p>
						                            </div>

						                            <div>
						                                <em class="text-muted">Ingresado por: {{infoAutor.nombre}} {{infoAutor.apellido}}</em>
						                            </div>


						                            <span ng-show = "error" class="text-danger">{{errorTxt}}</span>

		                                        </td>
		                                    </tr>

		                                </tbody>
		                             <!--  END TABLE -->
										</div>

		                            </table>

								</div>

			                </div>
                        </div>
                    </div>
                    <!-- END REGISTRO TAB -->

				</div>
			</div>
		</form> <!-- END FORM -->


                    <!-- Material Register -->
                    <div class="col-lg-6" ng-show="onPoint">
                            <div class="block block-themed">
                                <div class="block-header bg-success">
                                    <ul class="block-options">
                                        <li>
                                        <button type="button" ng-click="closeForm()"><i class="si si-close"></i></button>
                                       <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                        </li>
                                    </ul>
 
                                   <h3 class="block-title">Registro</h3>
                                </div>
                                <div class="block-content">
                                   <form class="form-horizontal push-10-t push-10" name="regForm">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input ng-maxlength="45" class="form-control" type="text" ng-model="registro.nombre" required>
                                                    <label>Nombre <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <textarea ng-maxlength="250" class="form-control" id="material-textarea-large2"
                                                    ng-model="registro.descripcion" rows="8" required></textarea>
                                                    <label>Descripción <span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

 
                                     <div class="form-group">
                                        <div class="col-xs-12">
                                            <button class="btn btn-sm btn-success" type="submit"  ng-disabled="regForm.$invalid"
                                                    ng-click="saveRegistro()">
                                            <i class="fa fa-plus push-5-r"></i> Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>