                <div class="content content-boxed">
                    <!-- Header Tiles -->
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a class="block block-link-hover3 text-center" href="">
                                <div class="block-content block-content-full">
                                    <div class="h1 font-w700 text-primary" data-toggle="countTo" data-to="{{stats.cantUsuarios}}"></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Usuarios</div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a class="block block-link-hover3 text-center" href="">
                                <div class="block-content block-content-full">
                                    <div class="h1 font-w700 text-success" data-toggle="countTo" data-to="{{stats.cantAlumnos}}"></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Alumnos</div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a class="block block-link-hover3 text-center" href="">
                                <div class="block-content block-content-full">
                                     <div class="h1 font-w700 text-city" ><span data-toggle="countTo" data-to="{{stats.cantMaterias}}"></span></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Materias</div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a class="block block-link-hover3 text-center" href="">
                                <div class="block-content block-content-full">
                                    <div class="h1 font-w700"><span data-toggle="countTo" data-to="{{stats.periodo}}"></span></div>
                                </div>
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Periodo</div>
                            </a>
                        </div>

                    </div>
                    <!-- END Header Tiles -->
                </div>


                                <!-- Big Features -->
                <div class="bg-white" ng-if = "!isAdmin">
                    <section class="content content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="row items-push-2x push-50-t nice-copy">
                            <div class="col-sm-6 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">
                                <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-cog text-primary push-5-r"></i> Confiable</h3>
                                <h4 class="h3 font-w300 push-10">Funcional y sencilla</h4>
                                <p>La interfaz se ajustará a cualquier tamaño de pantalla. Se ve muy bien en dispositivos móviles y escritorios! Además cada sección y formulario es fácil de usar e intuitivo. Gracias a una poderosa arquitectura Lyra puede ser usado para diversas instituciones por una misma persona.</p>
                            </div>
                            <div class="col-sm-6 visibility-hidden" data-toggle="appear" data-timeout="150" data-class="animated fadeInDown">
                                <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-heart text-city push-5-r"></i> Pasión</h3>
                                <h4 class="h3 font-w300 push-10">Creada con cariño</h4>
                                <p>Lyra ha sido creado con cariño y está siendo controlado para que nuestros usuarios disfruten de una gran experiencia. Nos hemos asegurado que la herramienta responda de forma rápida y precisa. Esperamos que Lyra le proporcione un entorno estimulante y agradable que facilite un trabajo de calidad.</p>
                            </div>
                            <div class="col-sm-6 visibility-hidden" data-toggle="appear" data-timeout="300" data-class="animated fadeInDown">
                                <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-check text-success push-5-r"></i> Calidad</h3>
                                <h4 class="h3 font-w300 push-10">Diseño &amp; Código</h4>
                                <p>Lyra esta construido con las ultimas tecnologías para brindarle a su institución una experiencia única,intuitiva y rápida. NNuestro diseño mantiene en mente el cambio y mejora que surge rápidamente por la alta demanda y las necesidades cambiantes. Nuestro core es de AngularJS + Spring.</p>
                            </div>
                            <div class="col-sm-6 visibility-hidden" data-toggle="appear" data-timeout="300" data-class="animated fadeInDown">
                                <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-comments text-smooth push-5-r"></i> Profesional</h3>
                                <h4 class="h3 font-w300 push-10">Basada en su Retroalimentación</h4>
                                <p>En Iron Throne mantenemos una filosofía de creatividad, innovación y trabajar en la mejora continua, para adaptarse a un sector en constante evolución tecnológica. Con su ayuda trabajamos con un sistema de gestión de calidad que establece nuestra forma de actuar en cuanto a la calidad de nuestro servicio; con el fin de garantizar su eficacia y mejora continua.</p>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Big Features -->                