        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="resources/assets/js/plugins/datatables/jquery.dataTables.min.css">


            <button class="btn btn-success push-5-r push-10" type="button"><i class="fa fa-plus"></i> Agregar Usuario</button>
                    <!-- Dynamic Table Full -->
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">Lista de Usuarios</h3>
                        </div>

                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-full">
                                <thead>
                                    <tr>
                                        <th ng-hide="true"></th>
                                        <th class="text-center"></th>
                                        <th>Nombre</th>
                                        <th class="hidden-xs">Email</th>
                                        <th class="hidden-xs" style="width: 15%;">Estado</th>
                                        <th class="text-center" style="width: 10%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <tr ng-repeat="u in userList" u-index="$index">
                                        <td class="text-center" ng-bind="u.idUsuario" ng-hide="true"></td>
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="font-w600"   ng-bind="(u.nombre) +' '+ (u.apellido)"></td>
                                        <td class="hidden-xs"   ng-bind="u.email"></td>

                                        <td class="hidden-xs"   ng-if="u.activeUs == true">
                                        <span class="label label-success">Activo</span>
                                        </td>

                                        <td class="hidden-xs"   ng-if="u.activeUs == false">
                                        <span class="label label-danger">Inactivo</span>
                                        </td>


                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    <!-- END Dynamic Table Full -->

