        <link rel="stylesheet" href="resources/assets/js/plugins/select2/select2.min.css">
        <link rel="stylesheet" href="resources/assets/js/plugins/select2/select2-bootstrap.min.css">
        <link rel="stylesheet" href="resources/assets/js/plugins/datatables/jquery.dataTables.min.css">
        <link rel="stylesheet" id="css-main" href="resources/assets/css/oneui.min.css">

        <button class="btn btn-success push-5-r push-10" type="button" ng-show="!onPoint" ng-click="showForm()">
        
        <i class="fa fa-plus"></i> Registrar Grado</button>
                    <!-- Dynamic Table Full -->
                    <div ng-show="onPointNew">
                    <div class="block" ng-show="!onPoint">

                        <div class="block-header">
                            <h3 class="block-title">Lista de Grados</h3>
                        </div>

                        <div class="block-content">
                            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered table-striped js-dataTable-full">
                                <thead>
                                    <tr>
                                        <th ng-hide="true"></th>
                                        <th class="text-center"></th>
                                        <th>Nombre</th>
                                        <th class="hidden-xs">Descripción</th>
                                        <th class="hidden-xs" style="width: 15%;">Estado</th>
                                        <th class="text-center" style="width: 10%;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <tr ng-repeat="g in gradosList" u-index="$index">
                                        <td class="text-center" ng-bind="u.idGrado" ng-hide="true"></td>
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="font-w600"   ng-bind="g.nombre"></td>
                                        <td class="hidden-xs"   ng-bind="g.descripcion"></td>

                                        <td class="hidden-xs"   ng-if="g.isActiveGr == true">
                                        <span class="label label-success">Activo</span>
                                        </td>

                                        <td class="hidden-xs"   ng-if="g.isActiveGr == false">
                                        <span class="label label-danger">Inactivo</span>
                                        </td>


                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-xs btn-default" type="button" title="Editar grado" 
                                                        ng-click="showGradoToEdit(g)"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-xs btn-default" type="button" title="Agregar materia">
                                                <i class="fa fa-book"  ng-click="openProfesToSeccion(g)"></i></button>
                                                <button class="btn btn-xs btn-default" type="button" title="Activo/Inactivo"
                                                        ng-click="isActive(g)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <!-- END Dynamic Table Full -->

                    <!-- Material Register -->
                    <div class="col-lg-6" ng-show="onPoint">
                            <div class="block block-themed">
                                <div class="block-header bg-success">
                                    <ul class="block-options">
                                        <li>
                                        <button type="button" ng-click="showList()"><i class="si si-close"></i></button>
                                       <li>
                                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                        </li>
                                    </ul>
 
                                   <h3 class="block-title">Grado</h3>
                                </div>
                                <div class="block-content">
                                   <form class="form-horizontal push-10-t push-10" name="gradeForm">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="newGrado.nombre" maxlength=44 required>
                                                    <label>Nombre <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" maxlength=44 ng-model="newGrado.descripcion">
                                                    <label>Descripción </span>
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="form-group" ng-show="!isCreating">
                                            <div class="col-xs-12">
                                                <label class="css-input css-checkbox css-checkbox-success">
                                                    <input type="checkbox" ng-model="newGrado.isActiveGr"><span></span> Activo?
                                                </label>
                                            </div>
                                        </div>
                                        <!---form para intermedia-->


                <!--end-->
                <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-success" type="submit"  ng-disabled="gradeForm.$invalid"
                            ng-click="saveGrado()">
                    <i class="fa fa-plus push-5-r"></i> Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Mega Form add alumno a seccion-->

<div class="block block-bordered" ng-show="onPointMateria">
    <div class="block-header bg-gray-lighter">
        <ul class="block-options">
            <li>
                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="close()"><i class="si si-close"></i></button>
            </li>
            <li>
                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
            </li>
        </ul>
        <h3 class="block-title">Grado {{seccionName}}</h3>
    </div>
    <div class="block-content">

        <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">

            <div class="row">

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Materias asignados</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                <option ng-repeat="pa in ProfesAsignados" value="{{pa.idMateria}}" ng-click="targetProfeAsignado(pa)">{{pa.nombre}}</option>
                            </select>
                        </div>
                    </div>
  
                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Materias asignadas</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempMateriasAsignadas" ng-options="pna.nombre for pna in ProfesAsignados"></select>

                        </div>
                    </div>

                </div> 

                <div class="col-sm-2">
                
                    <div class="form-group" >
                        <br><br><br><br><br><br>
                        <button class="btn btn-lg btn-warning pull-left" type="button" href="javascript:void(0)" ng-click="borrarMateriaAsignado()" ><i class="fa fa-angle-right" ng-click="borrarMateriaAsignado()"></i></button>
                        <button class="btn btn-lg btn-warning pull-right" type="button" ng-click="borrarMateriaNoAsignado()" href="javascript:void(0)"><i class="fa fa-angle-left" ng-click="borrarMateriaNoAsignado()" ></i></button>
                    </div>
  
                </div>

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Disponibles</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                 <option ng-repeat="pna in ProfesNoAsignados" value="{{pna.idMateria}}" ng-click="targetProfeNoAsignado(pna)">{{pna.nombre}}</option>
                            </select>
                        </div>
                    </div>
  
                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Disponibles</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempMateriasNoAsignadas" ng-options="pna.nombre for pna in ProfesNoAsignados"></select>

                        </div>
                    </div>

                </div> 

            </div><!--end first row-->

            <div class="row ">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <button class="btn btn-warning " type="submit" ng-click="registrarAsignacionesProfes()"><i class="fa fa-check push-5-r"></i> Registrar </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
            
        </form>
    </div>
</div>
<!-- END Mega Form -->


<!-- END Material ) Register -->    
