<div class="row" ng-show="onPoint">
    <div >
        <a class="block block-link-hover2">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="openForm()"><i class="si si-pencil"></i></button>
                    </li>
                </ul>
            </div>
            <div class="block-content block-content-full text-center">
                <div>
                    <img ng-src="{{user.logoInstitucion == '' && 'resources/assets/img/imagenes/big-default_user-logo.png' || user.logoInstitucion == null && 'resources/assets/img/imagenes/big-default_user-logo.png' || user.logoInstitucion}}" alt="Imagen no encontrada" onError="this.src='resources/assets/img/imagenes/No-image-found.jpg '">
                </div>
                <div class="h5 push-15-t push-5"><h3>{{user.nombreInstitucion}}</h3></div>
            </div>
        </a>
    </div>
</div>

<div class="row" ng-show="!onPoint">
    <div >
        <a class="block block-link-hover2">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="openForm()"><i class="si si-close"></i></button>
                    </li>
                </ul>
            </div>
            <div class="block-content tab-content">

                <form class="js-validation-material form-horizontal push-10-t" method="post" name="institucionForm">

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="form-material">
                                <input class="form-control" type="text" id="validation-nombre" name="val-nombre" ng-model="user.nombreInstitucion" ng-minlength=3 maxlength=59 required>
                                <label for="validation-nombre">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="form-material">
                                <input class="form-control" type="text" id="validation-apellido" name="val-apellido" ng-model="user.logoInstitucion" maxlength=399>
                                <label >Logo</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="form-material">
                                <button class="btn btn-sm btn-block btn-primary" type="submit" ng-disabled="institucionForm.$invalid"  ng-click="saveInstitucion()"><i class="fa fa-check-circle-o"></i>Registrar</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </a>
    </div>
</div>