                    <!-- Main Content -->
                    <form name ="perfilForm" ng-show = "!isError">
                        <div class="block">
                            <ul class="nav nav-tabs nav-justified push-20" data-toggle="tabs">
                              <uib-tabset active="activeJustified" justified="true">

                                <uib-tab index="0" select="changeTab()"><uib-tab-heading><i class="fa fa-fw fa-pencil"></i> Personal
                                </uib-tab-heading></uib-tab>

                                <uib-tab index="1" select="changeTab()"><uib-tab-heading><i class="fa fa-fw fa-asterisk"></i> Password
                                </uib-tab-heading></uib-tab>

                              </uib-tabset>
                            </ul>
                            <div class="block-content tab-content">


                                <!-- Personal Tab -->
                                <div ng-if = "isPassword == true" class="tab-pane fade in active" id="tab-profile-personal">
                                    <div class="row items-push">
                                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="profile.nombre"required>
                                                    <label>Nombre <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="profile.apellido" required>
                                                    <label>Apellido <span class="text-danger">*</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="profile.cedula"  ng-pattern="onlyNumbers" required>
                                                    <label>Cédula <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>  

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="profile.telefono"  ng-pattern="onlyNumbers" required>
                                                    <label>Teléfono  <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="text" ng-model="profile.movil"  ng-pattern="onlyNumbers">
                                                    <label>Teléfono 2 </label>
                                                </div>
                                            </div>
                                        </div>   

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                    <input class="form-control" type="email" ng-model="profile.email" required>
                                                    <label title="Email debe incluir @">Email <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Personal Tab -->

                                <!-- Password Tab -->
                                <div ng-if = "isPassword == false" class="tab-pane fade in active" id="tab-profile-password">
                                    <div class="row items-push">
                                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password">Correo</label>
                                                    <input class="form-control input-lg" type="email"title="Email debe incluir @" ng-model="profile.confirmEmail" required>
                                                </div>
                                            </div>
                                                <div class="text-center"nvali ng-show="invalidMail">
                                                <p class="text-muted push-15-t text-danger">Correo inválido.
                                                </p>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password-new">Nueva Contraseña</label>
                                                    <input class="form-control input-lg" type="password" id="profile-password-new" 
                                                           ng-model="profile.newPassword" name="profile-password-new" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <label for="profile-password-new-confirm">Confirmar Nueva Contraseña</label>
                                                    <input class="form-control input-lg" type="password" id="profile-password-new-confirm" name="profile-password-new-confirm" ng-model="profile.confirmPassword" required>
                                                </div>

                                            <div class="text-center"nvali ng-show="invalidPass">
                                                <p class="text-muted push-15-t text-danger">Contraseñas no concuerdan o son inválidas
                                                </p>
                                            </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Password Tab -->
                            </div>

                            <div class="block-content block-content-full bg-gray-lighter text-center">
                                <button class="btn btn-sm btn-primary" type="submit" ng-disabled="perfilForm.$invalid" 
                                        ng-click = "saveChanges()">
                                <i class="fa fa-check push-5-r"></i> Guardar</button>
                            <!-- <button class="btn btn-sm btn-warning" type="reset"><i class="fa fa-refresh push-5-r"></i> Reset</button> -->
                            </div>

                        </div>
                    </form>
                    <!-- END Main Content -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->


<!--Vista de Mensajes-->
<div class="bg-white pulldown" ng-show="onPointMsj" >
    <div class="content content-boxed overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="push-30-t push-50 animated fadeIn">
                    <!-- Login Title -->
                    <div class="text-center">
                        <i class="fa fa-2x fa-circle-o-notch text-primary"></i>
                        <p class="text-muted push-15-t">{{topMsj}}</p>
                        <p class="text-muted push-15-t">{{bodyMsj}}</p>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group push-30-t">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                <button class="btn btn-sm btn-block btn-primary" ng-click="closeMSJ()">Volver</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End Vista de Mensajes-->

<!-- Vista de Error  -->
<div class="content bg-white text-center pulldown overflow-hidden" ng-show="onPointError">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            
            <h1 class="font-s128 font-w300 text-modern animated bounceIn">{{topMsj}}</h1>
            <h2 class="h3 font-w300 push-50 animated fadeInUp">{{bodyMsj}}</h2>

            <div class="form-horizontal">
                <div class="form-group push-30-t">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <button class="btn btn-sm btn-block btn-primary" ng-click="closeMSJ()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Vista de Error -->            