<link rel="stylesheet" href="resources/assets/js/plugins/datatables/jquery.dataTables.min.css">
<link rel="stylesheet" href="resources/assets/js/plugins/select2/select2.min.css">
<link rel="stylesheet" href="resources/assets/js/plugins/select2/select2-bootstrap.min.css">
<link rel="stylesheet" id="css-main" href="resources/assets/css/oneui.min.css">

<button class="btn btn-success push-5-r push-10" type="button" ng-show="onPoint" ng-click="showForm()"><i class="fa fa-plus"></i> Registrar Sección</button>
<!-- Dynamic Table Full -->
<div class="block" ng-show="onPoint">

    <div class="block-header">
        <h3 class="block-title">Secciones <small></small></h3>
    </div>

    <div class="block-content">


        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
        <table class="table table-bordered table-striped js-dataTable-full">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th ng-hide="true"></th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Grado</th>
                    <th class="hidden-xs" style="width: 15%;">Estado</th>
                    <th class="text-center" style="width: 15%;">Acciones</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in seccionList" m-index="$index">
                    <td class="text-center" ng-bind="s.idSeccion" ng-hide="true"></td>
                    <td class="text-center">{{$index+1}}</td>

                   
                    <td><span ng-bind="s.nombreSeccion"></span></td>
                    <td><span ng-bind="s.grado.nombre"></span></td>

                    <td class="hidden-xs"   ng-if="s.activeSec == true">
                    <span class="label label-success">Activo</span>
                    </td>

                    <td class="hidden-xs"   ng-if="s.activeSec == false">
                    <span class="label label-danger">Inactivo</span>
                    </td>

                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default" type="button" title="Ver sección" ng-click="showSeccion(s)"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-xs btn-default" type="button" title="Editar sección" ng-click="showSeccionToEdit(s)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-xs btn-default" type="button" title="Asignar estudiantes" ><i class="fa fa-mortar-board" ng-click="openAlumnoToSeccion(s)"></i></button>
                            <button class="btn btn-xs btn-default" type="button" title="Asignar profesores" ><i class="fa fa-user-plus"  ng-click="openProfesToSeccion(s)"></i></button>
                            <button class="btn btn-xs btn-default" type="button" title="Activo/Inactivo" ng-click="isActive(s)"><i class="fa fa-times"></i></button>
                        </div>
                    </td>   
                </tr>
                
            </tbody>
        </table>
    </div>

</div>
<!-- END Dynamic Table Full -->

<!-- Registrar -->
<div class="col-lg-6" ng-show="onPointFormSeccion">
    <div class="block block-themed">
        <div class="block-header bg-success">
            <ul class="block-options">
                <li>
                    <button type="button" ng-click="close()"><i class="si si-close"></i></button>
                </li>
            </ul>

           <h3 class="block-title">Sección</h3>
        </div>
        <div class="block-content">
           <form class="form-horizontal push-10-t push-10" name="seccionForm">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material">
                            <input class="form-control" type="text" ng-model="newSec.nombreSeccion" maxlength=9 required>
                            <label>Nombre <span class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12" for="val-select2">Grado<span class="text-danger">*</span></label>
                    <div class="col-md-7">
                        <select class="form-control" ng-model="newSec.selected_grado" required>
                            <option ng-repeat="grado in gradoList" value="{{grado.idGrado}}">{{grado.nombre}}</option>
                        </select>
                    </div>
                </div>
                 
                <div class="form-group" ng-show="!isCreating">
                    <div class="col-xs-12">
                        <label class="css-input css-checkbox css-checkbox-success">
                            <input type="checkbox" ng-model="newSec.activeSec"><span></span> Activo?
                        </label>
                    </div>
                </div>
             <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-success" type="submit"  ng-disabled="seccionForm.$invalid"
                            ng-click="saveSeccion()">
                    <i class="fa fa-plus push-5-r"></i> Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Mega Form add alumno a seccion-->
<div class="block block-bordered" ng-show="onPointAlumnoToSeccion">
    <div class="block-header bg-gray-lighter">
        <ul class="block-options">
            <li>
                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="close()"><i class="si si-close"></i></button>
            </li>
        </ul>
        <h3 class="block-title">Sección {{seccionName}}</h3>
    </div>
    <div class="block-content">

        <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">

            <div class="row">

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Asignados</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                <option ng-repeat="aa in AlumnosAsignados" value="{{aa.idAlumno}}" ng-click="targetAsignado(aa)">{{aa.nombre}} {{aa.apellido1}}</option>
                            </select>
                        </div>
                    </div>

                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Sin sección</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempAlumnosAsignados" ng-options="aa.nombre+' '+aa.apellido1+' '+aa.apellido2+' '+' | '+'Ced:'+aa.cedula for aa in AlumnosAsignados"></select>

                        </div>
                    </div>

                </div> 

                <div class="col-sm-2">
                
                    <div class="form-group" >
                        <br><br><br><br><br><br>
                        <button class="btn btn-lg btn-warning pull-left" type="button" href="javascript:void(0)" ng-click="borrarAsignado2()" ><i class="fa fa-angle-right" ng-click="borrarAsignado2()"></i></button>
                        <button class="btn btn-lg btn-warning pull-right" type="button" ng-click="borrarNoAsignado2()" href="javascript:void(0)"><i class="fa fa-angle-left" ng-click="borrarNoAsignado2()" ></i></button>
                    </div>
                    <div class="form-group" >
                        <br>
                        <button class="btn btn-lg btn-warning pull-left" type="button" href="javascript:void(0)" ng-click="todosDesasignarlos()" ><i class="fa fa-angle-double-right" ng-click="todosDesasignarlos()"></i></button>
                        <button class="btn btn-lg btn-warning pull-right" type="button" ng-click="todosAsignarlos()" href="javascript:void(0)"><i class="fa fa-angle-double-left" ng-click="todosAsignarlos()" ></i></button>
                    </div>
  
                </div>

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Sin sección</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                 <option ng-repeat="ass in AlumnosNoSeccionList" value="{{ass.idAlumno}}" ng-click="targetNoAsignado(ass)">{{ass.nombre}} {{ass.apellido1}}</option>
                            </select>
                        </div>
                    </div>
  
                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Sin sección</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempAlumnosSinSeccion" ng-options="ass.nombre+' '+ass.apellido1+' '+ass.apellido2+' '+' | '+'Ced:'+ass.cedula for ass in AlumnosNoSeccionList"></select>

                        </div>
                    </div>
                </div> 



            </div><!--end first row-->

            <div class="row ">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <button class="btn btn-warning " type="submit" ng-click="registrarAsignaciones()"><i class="fa fa-check push-5-r"></i> Registrar </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
            
        </form>
    </div>
</div>
<!-- END Mega Form -->

<!-- Mega Form add alumno a seccion-->
<div class="block block-bordered" ng-show="onPointProfeToSeccion">
    <div class="block-header bg-gray-lighter">
        <ul class="block-options">
            <li>
                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="close()"><i class="si si-close"></i></button>
            </li>
        </ul>
        <h3 class="block-title">Sección {{seccionName}}</h3>
    </div>
    <div class="block-content">

        <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">

            <div class="row">

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Profesores asignados</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                <option ng-repeat="pa in ProfesAsignados" value="{{pa.idUsuario}}" ng-click="targetProfeAsignado(pa)">{{pa.nombre}} {{pa.apellido}}</option>
                            </select>
                        </div>
                    </div>
  
                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Profesores asignados</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempProfesAsignados" ng-options="pa.nombre+' '+pa.apellido+'  '+' | '+'Ced:'+pa.cedula for pa in ProfesAsignados"></select>

                        </div>
                    </div>

                </div> 

                <div class="col-sm-2">
                
                    <div class="form-group" >
                        <br><br><br><br><br><br>
                        <button class="btn btn-lg btn-warning pull-left" type="button" href="javascript:void(0)" ng-click="borrarProfeAsignado2()" ><i class="fa fa-angle-right" ng-click="borrarProfeAsignado2()"></i></button>
                        <button class="btn btn-lg btn-warning pull-right" type="button" ng-click="borrarProfeNoAsignado2()" href="javascript:void(0)"><i class="fa fa-angle-left" ng-click="borrarProfeNoAsignado2()" ></i></button>
                    </div>
  
                </div>

                <!-- <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Disponibles</label>
                            <select class="form-control" id="mega-skills" name="mega-skills" size="17" multiple >
                                 <option ng-repeat="pna in ProfesNoAsignados" value="{{pna.idUsuario}}" ng-click="targetProfeNoAsignado(pna)">{{pna.nombre}} {{pna.apellido}}</option>
                            </select>
                        </div>
                    </div>
  
                </div> -->

                <div class="col-sm-5">
                
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="mega-skills">Disponibles</label>

                            <select class="form-control" size="17" multiple="false" ng-model="tempProfesNoAsignados" ng-options="pa.nombre+' '+pa.apellido+'  '+' | '+'Ced:'+pa.cedula for pa in ProfesNoAsignados"></select>

                        </div>
                    </div>

                </div> 

            </div><!--end first row-->

            <div class="row ">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <button class="btn btn-warning " type="submit" ng-click="registrarAsignacionesProfes()"><i class="fa fa-check push-5-r"></i> Registrar </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
            
        </form>
    </div>
</div>
<!-- END Mega Form -->

<div class="row" ng-show="onPointWatchSeccion">
    <div class="block-content">
        <!-- Block Tabs Animated Fade -->
        <div class="block">
            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active">
                    <a href="#btabs-animated-fade-home">Estudiantes</a>
                </li>
                <li>
                    <a href="#btabs-animated-fade-profile">Profesores</a>
                </li>
                <li class="pull-right">
                    <a href="#btabs-animated-fade-settings" ng-click="close()"><i class="si si-close"></i></a>
                </li>
            </ul>
            <div class="block-content tab-content">
                <div class="tab-pane fade in active" id="btabs-animated-fade-home">
                    <h4 class="font-w300 push-15">Sección {{seccionName}}</h4>

                    <div class="block-content" >
                        <table class="js-table-sections table table-hover" ng-repeat="a in AlumnosAsignados">

                            <tbody class="js-table-sections-header" >
                                <tr>
                                    <td class="text-center" style="width: 30px;">
                                        <i class="fa fa-angle-right"></i>
                                    </td>
                                    <td class="font-w600">{{a.nombre}} {{a.apellido1}} {{a.apellido2}} </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="width: 0px;"></td>
                                    <td class="font-w600 text-success">
                                        <strong>Encargados:</strong>
                                            <i ng-repeat="e in a.usuarios">{{e.nombre}} {{e.apellido}}<span ng-show=" ! $last ">, </span></i>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                </div>
                <div class="tab-pane fade" id="btabs-animated-fade-profile">
                    <h4 class="font-w300 push-15">Sección {{seccionName}}</h4>
                    
                    <div class="block-content" >
                        <table class="js-table-sections table table-hover" ng-repeat="p in ProfesAsignados">

                            <tbody class="js-table-sections-header" >
                                <tr>
                                    <td class="text-center" style="width: 30px;">
                                        <i class="fa fa-angle-right"></i>
                                    </td>
                                    <td class="font-w600">{{p.nombre}} {{p.apellido}}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="width: 0px;"></td>
                                    <td class="font-w600 text-success"><strong>Correo:</strong> {{p.email}} <br>
                                        <strong>Materias que imparte:</strong>
                                            <i ng-repeat="m in p.materias">{{m.nombre}}<span ng-show=" ! $last ">, </span></i>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                </div>
            </div>
            <br> 
        </div>

        <!-- END Block Tabs Animated Fade -->

        
    </div>
</div>
<!-- END Block Tabs Content Animation -->

